/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background: url(./background.jpg)no-repeat center center/cover;
}

.navbar
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.navbar-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}

.navbar-logo
{
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar-container .navbar-menu
{
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;

} 

.navbar-container .navbar-menu.active
{
  display: flex;
}

.navbar-container .navbar-menu li a
{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all o.7s ease;
  white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a:active
{
  color: #162530;
  background: rgba(188, 212, 229, 0.8);
  border: 2px solid white;
}
.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.navbar-toggle.active .bar:nth-child(2)
{
  opacity: 0;

}

.navbar-toggle.active .bar:nth-child(1)
{
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.active .bar:nth-child(3)
{
  transform: translateY(-8px) rotate(-45deg);
}

.bar
{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: white;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 880px)
{
  .navbar
  {
    backdrop-filter: none;
  }

  .navbar-container .navbar-menu
  {
    display: none;
    flex-direction: column;  
    align-items: flex-start;
    gap: 1.7rem;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
  .navbar-toggle
  {
    display: block;
    z-index: 9999;
  }

}

@media (max-width: 480px) 
{
  .navbar-container
  {
    padding: 0 1rem;
  }
  .navbar-logo
  {
    font-size: 1.7rem;
  }
  .navbar-container .navbar-menu li a
  {
    font-size: 1.2rem;
    padding: 3px 15px;
  }
}