/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: grey;
}

.main{
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
}
.section-header
{
  text-align: center;
  margin-bottom: 40px;
}
.section-header h2
{
  font-size: x-large;
  margin-bottom: 10px;
}
.section-header p
{
  color: #555;
}
.features
{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.feature
{
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
}

.feature h3
{
  margin-bottom: 10px;
  color: black;
}

.feature p
{
  line-height: 1.5;
}
@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }
}